main {
    display: flex;
    height: 100vh;
}

body {
    font-family: "Verdana", sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-side-login, .right-side-login {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
}

.left-side-login {
    background-color: black;
    color: white;
    left: 0;
}

.right-side-login {
    background-color: white;
    right: 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    padding: 12px;
    font-size: 1rem;
}


.btn-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
}

.skip-login {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .right-side-login {
        order: -1;
        position: fixed;
        height: 50vh !important;
        width: 100vw !important;
        padding: 20px;
        margin-bottom: 50vh;
    }

    .left-side-login {
        position: fixed;
        height: 50vh !important;
        width: 100vw !important;
        padding: 20px;
        margin-top: 50vh;
    }

    .form-control {
        max-width: 100%;
    }

    .btn {
        width: 100%;
    }

    footer {
        display: none;
    }
}
