main {
    display: flex;
    height: 100vh;
}

body {
    font-family: "Verdana", sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-login {
    background-color: black;
    color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    position: fixed;
    padding: 20px;
    left: 0;
    top: 0;
    bottom: 0;
}

.right-side-login {
    background-color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50vw;
    position: fixed;
    right: 0;
    top: 0;
}

form {
    max-width: 400px;
}

.btn-light {
    color: black;
    background-color: white;
}

.btn-light:hover {
    background-color: gray;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: gray;
}

@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-side-login {
        order: -1;
        position: fixed;
        height: 50vh !important;
        width: 100vw !important;
        padding: 20px;
        margin-bottom: 50vh;
        justify-content: center;
        align-items: center;
        
    }

    .left-side-login {
        position: fixed;
        height: 50vh !important;
        width: 100vw !important; 
        padding: 20px;
        margin-top: 50vh;
        justify-content: center;
        align-items: center;
    }

    .btn, .button {
        width: 100%; 
        font-size: 1rem;
        padding: 12px;
    }

    footer {
        display: none;
    }
}
