* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
}

html, body {
    font-family: "Verdana", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.left-side {
    background-color: black !important;
    color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: center;
    position: absolute;
    padding: 20 px;
    left: 0;
    top: 0;
    bottom: 0;
}

.right-side {
    background-color: white !important;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    right: 0 !important;
    top: 0;
    margin-left: 50vw;
    padding: 20px;
}

.btn {
    display: block !important;
    width: 200px !important;
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
}

footer {
    font-family: "Verdana", sans-serif;
    background-color: white;
    color: black !important;
    padding: 15px 20px;
    align-items: right;
    text-align: right;
    justify-content: right;
    width: 50vw;
    margin-left: 50vw;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        height: auto;
    }

    .left-side {
        position: relative;
        width: 100vw;
        height: 50vh;
        padding: 0px;
        margin-right: 0;
        margin-right: 0;
    }

    .right-side {
        width: 100vw;
        height: 50vh;
        margin-left: 0;
        padding: 20px;
    }

    footer {
        width: 100vw;
        margin-left: 0;
        text-align: center;
    }
}