main {
    display: flex;
    height: 100vh;
}

body {
    font-family: "Verdana", sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side {
    background-color: black;
    color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    padding: 40px;
    left: 0;
    top: 0;
    bottom: 0;
}

.right-side {
    background-color: white;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50vw;
}

form {
    max-width: 400px;
}

.btn-light {
    color: black;
    background-color: white;
}

.btn-light:hover {
    background-color: gray;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: gray;
}

@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-side {
        order: -1;
        height: auto;
        width: 100vw;
        padding: 20px;
        margin-left: 0;
    }

    .left-side {
        position: relative;
        height: auto;
        width: 100vw; 
        padding: 20px;
        margin-right: 0;
    }

    .btn, .button {
        width: 100%; 
        font-size: 1rem;
        padding: 12px;
    }
}
