main {
    display: flex;
    height: 100vh;
}

body {
    font-family: "Verdana", sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-black {
    background-color: black;
    text-align: center;
}

.bg-white {
    text-align: center;
}

form {
    max-width: 400px;
}

.btn-light {
    color: black;
    background-color: white;
}

.btn-light:hover {
    background-color: gray;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: gray;
}

footer {
    background-color: black;
    color: white;
}