
body {
    font-family: "Verdana", sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar .nav {
    list-style-type: none;
    padding: 0;
}

.sidebar .nav-link {
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: gray;
    border-radius: 5px;
}

.main-content {
    margin-left: 250px;
    width: calc(100vw - 250px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 20px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 250px;
    width: calc(100vw - 250px);
}

.button {
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: black;
}

/* Bootstrap Fix for Centering Issue */
.row {
    margin-left: 0;
    margin-right: 0;
}